<html>
<head>
    <title>This is a URL shortening service</title>
</head>
<body>
    <h1>Geeky URL shortening service</h1>
    <div>
        <form method="post" action="/short/url">
            {% csrf_token %}
            URL: <input type="text" id="url-input" name="url"/> <input type="submit" value="submit"/>
        </form>
    </div>
</body>
</html>